'.source.css, text.html.basic':
    'iphone 4 Portrait':
        'prefix': 'ip4P'
        'body': """
            /* Portrait */
            @media only screen
              and (min-device-width: 320px)
              and (max-device-width: 480px)
              and (-webkit-min-device-pixel-ratio: 2)
              and (orientation: portrait) {
            }
        """
